<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Neue</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

  <nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->

  <a href="#" class="logo">Neue</a>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current-parent'><a class='current-parent' href="index.html">Home</a></li>
      <li><a href="work.html">Work</a></li>
      <li class='current'><a class='current' href="about.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="index-2.html">Home 2</a></li>
          <li><a href="work-2.html">Work 2</a></li>
          <li><a href="single-work.html">Single Work</a></li>
          <li><a href="about-2.html">About 2</a></li>
          <li><a href="about-3.html">About 3</a></li>
          <li><a href="blog-2.html">Blog 2</a></li>
          <li><a href="contact-2.html">Contact 2</a></li>
          <li><a href="404.html">404</a></li>
          <li><a href="style-guide.html">Style Guide</a></li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">

  <div class="about about-1">
    <img src="assets/images/about-1.jpg" class="img-responsive" alt="" />
    <div class="description">
      <h1>About</h1>
      <p>That's what it said on 'Ask Jeeves.' Did you enjoy your meal, Mom? You drank it fast enough. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best defense. That's why you always leave a note! Across from where? No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide. No, I did not kill Kitty. However, I am going to oblige and answer the nice officer's questions because I am an honest man with no secrets to hide.</p>
      <p>There's so many poorly chosen words in that sentence. Did you enjoy your meal, Mom? You drank it fast enough. Did you enjoy your meal, Mom? You drank it fast enough. Did you enjoy your meal, Mom? You drank it fast enough. I've opened a door here that I regret. He'll want to use your yacht, and I don't want this thing smelling like fish. Not tricks, Michael, illusions. Oh, you're gonna be in a coma, all right. Really? Did nothing cancel?</p>
    </div> <!-- /.description -->
  </div> <!-- /.about .about-1 -->

  <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>About</h3>
        <p>Now, when you do this without getting punched in the chest, you'll have more fun.</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li>your@example.com</li>
          <li>+123 456 789</li>
          <li>767 Fifth Ave.<br />
          New York, NY 10153</li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Menu</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current-parent'><a class='current-parent' href="index.html">Home</a></li>
          <li><a href="work.html">Work</a></li>
          <li class='current'><a class='current' href="about.html">About</a></li>
        </ul>
        <ul class="menu-footer list-unstyled">
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Behance</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
  </footer>
  <p class="copyright">&copy; 2017 <a href="https://wearekllr.com" target="_blank">KLLR</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
