<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>My Process</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

 <nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
     <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
    <h1>My Process</h1>
    <br>

<p> Businesses are paralyzed by the organizational costs associated with 'Change'. Design Thinking is a system which first and foremost streamlines problem solving. Its concepts are easy to adopt within a rapid period of time. Data and ideas are organized, decisions are made, and the company receives big results with minimal risks. 

Design Thinking is a mindset focused on solutions and not just the problem. When equal thought is given to People, Technology, and Business goals we can uncover truly innovative products.</p></div>
<div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>


  

  <div class="blog blog-2">
    <div class="row">

      <div class="col-md-8 col-md-push-2">

        <article>
          <p class="post-meta">#1</p>
          <h2>RESEARCH.</h2>
          <p>Understanding the end-user's desires is crucial to the success of the user experience. Good design comes out of empathy. While "We are not our users", we still need to constantly learn more about the people who use the products we build. This phase represents the foundation for all our work.</p>
        </article>

        <article>
          <p class="post-meta">#2</p>
          <h2>PLAN.</h2>
          <p>Data without any insight isn't that valuable. This phase seeks to begin to cull the noise down into actionable results. By charting and recording we begin to find patterns of behavior that will instruct future solutions. This phase utilizes ideation practices to help us better understand who, how, and what we are solving for.</p>
        </article>

        <article>
          <p class="post-meta">#3</p>
          <h2>CREATE.</h2>
          <p>This is the testing grounds. Ideas and assumptions are now put into something more tangible toward the finished solution. Internal teams rely on each other to iterate and improve these early designs to make them as strong as possible before they are validated by users.</p>
        </article>
        <article>
          <p class="post-meta">#4</p>
          <h2>EXECUTE.</h2>
          <p>Once the conceptual aspect of the design has been validated it is time to move into production mode. This phase is a key shift from design to technical-centric activities. Designers will produce a style guide and final assets that refine deliverables that assist engineers in their development efforts. </p>
        </article>
        <article>
          <p class="post-meta">#5</p>
          <h2>MEASURE.</h2>
          <p>Before any software feature is released it needs to be tested thoroughly by both internal and external resources. Setting up Key Performance Indicators also helps us track the effectiveness of our efforts as the product grows. By continuously collecting data and reflecting on past work we can make more informed decisions in the future.</p>
        </article>
        <article>
          <p class="post-meta">#6</p>
          <h2>To be continued...</h2>
        </article>
      </div> <!-- /.col-md-8 -->

    </div> <!-- /.row -->

  </div> <!-- /.blog .blog-2 -->
<div class="container">
   <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>Quote</h3>
        <p>"You cant teach ambition, ambition is priceless, its something thats in your veins" - Rick Ross</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><a href="mailto:303visuals@gmail.com">303visuals@gmail.com</a></li>
          <li>[602] 697-3008</li>
          <li>Denver, CO</li>
        </ul>
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6">
        <h3>Nav</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current'><a class='current' href="index.html">Home</a></li>
      <li><a href="about-2.html">About</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/thereal_johncarter/">Instagram</a></li>
          <li><a href="https://dribbble.com/John_Carter">Dribbble</a></li>
          <li><a href="https://medium.com/@johncarter_38755">UX Collective</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
  </footer>
</div>

<p class="copyright">&copy; 2019 <strong>|</strong><a href="https://www.linkedin.com/in/john-carter-a85702a3/" target="_blank"> MADE WITH &hearts; by JC :]</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
