<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Blog</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />

<!---
                     .-=-==--==--.
                           ..-=="  ,'o`)      `.            --RAWWWWWRRRRRRRRRRR
                         ,'         `"'         \
                        :  (                     `.__...._
                        |                  )    /         `-=-.
                        :       ,vv.-._   /    /               `---==-._
                         \/\/\/VV ^ d88`;'    /                         `.
                             ``  ^/d88P!'    /             ,              `._
                                ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                               ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                              ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                              ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                               """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                      ,-='_.-'      ``:%::)  )%:|        /:._,"
                                     (/(/"           ," ,'_,'%%%:       (_,'
                                                    (  (//(`.___;        \
                                                     \     \    `         `
                                                      `.    `.   `.        :
                                                        \. . .\    : . . . :
                                                         \. . .:    `.. . .:
                                                          `..:.:\     \:...\
                                                           ;:.:.;      ::...:
                                                           ):%::       :::::;
                                                       __,::%:(        :::::
                                                    ,;:%%%%%%%:        ;:%::
                                                      ;,--""-.`\  ,=--':%:%:\
                                                     /"       "| /-".:%%%%%%%\
                                                                     ;,-"'`)%%)
                                        
                                        Thanks for inspecting my code, better go back to my website, before this Dinosaur eats you!

                                        - John Carter


</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

  <nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">

     
  </div>
  

   <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
     <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">

  <div class="blog blog-2">
    <div class="row">

      <div class="col-md-8 col-md-push-2">
        <article>
          <a href="https://uxdesign.cc/product-design-process-b644136b9925">
            <img src="assets/images/process.png" class="img-responsive" alt="" />
          </a>
          <p class="post-meta">June | 2019</p>
          <h2> <a href="https://uxdesign.cc/product-design-process-b644136b9925">Product Design Team Process.</a>
          </h2>
          <p>Operationalizing a process for any team can be hard. No teams process is ever perfect. Here is my take on how process can help your team.</p>
        </article>

        <article>
          <a href="https://uxdesign.cc/the-uber-christmas-nightmare-a-ux-audit-87d436765fc8">
            <img src="assets/images/uber.jpg" class="img-responsive" alt="" />
          </a>
          <p class="post-meta">December | 2018</p>
          <h2> <a href="https://uxdesign.cc/the-uber-christmas-nightmare-a-ux-audit-87d436765fc8">  Uber - A UX Audit </a>
          </h2>
          <p>These tech giants that are part of our everyday lives should be held to a very high standard, in this audit I examine a not so steller experience within the Uber app.</p>
        </article>

        <article>
          <a href="https://uxdesign.cc/design-code-why-are-we-keeping-these-two-skills-separate-391f8d9a0caf">
            <img src="assets/images/code.png" class="img-responsive" alt="" />
          </a>
          <p class="post-meta">August | 2018</p>
          <h2> <a href="https://uxdesign.cc/design-code-why-are-we-keeping-these-two-skills-separate-391f8d9a0caf" >Design & Code: Should These Skills Be Separate? </a>
          </h2>
          <p>Who ever told you that being a jack of all trades was a bad thing?</p>
        </article>

        <article>
          <a href="https://uxdesign.cc/ux-audit-how-design-thinking-will-save-xfinitys-web-app-e0b64d70da3f"</a>
            <img src="assets/images/comcast.png" class="img-responsive" alt="" />
          </a>
          <p class="post-meta">September | 2018</p>
          <h2> <a href="https://uxdesign.cc/ux-audit-how-design-thinking-will-save-xfinitys-web-app-e0b64d70da3f">How Design Thinking can save Xfinity’s web app — a UX audit</a> 
          </h2>
          <p>Lets face it, as designers we see things everyday that need improvement. In this audit I examine Xfinitys web application and try to make the experiences more delightful.</p>
        </article>
      </div> <!-- /.col-md-8 -->

    </div> <!-- /.row -->
    <div class="container">
    <div class="row">
              <div class="col-md-12 text-center">
                <div style="width: 100%; height: 100%">
                  <a href="https://medium.com/@johncarter_38755" class="btn btn-dark" target="about_blank">More UX Articles</a>
            </div>
        </div>
    </div>
  </div>
  </div> <!-- /.blog .blog-2 -->

   <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>About</h3>
        <p>“Whitespace is like air: it is necessary for design to breathe.” –Wojciech Zieliński</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><a href="mailto:303visuals@gmail.com">303visuals@gmail.com</a></li>
          <li>[602] 697-3008</li>
          <li>Denver, CO</li>
        </ul>
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6">
        <h3>Nav</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current-parent'><a class='current-parent' href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog-2.html">Process</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/thereal_johncarter/">Instagram</a></li>
          <li><a href="https://dribbble.com/John_Carter">Dribbble</a></li>
          <li><a href="https://medium.com/@johncarter_38755">UX Collective</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
  </footer>
  <p class="copyright">&copy; 2019 <strong>|</strong><a href="https://www.linkedin.com/in/john-carter-a85702a3/" target="_blank"> MADE WITH &hearts; by JC :]</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
