<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>contact</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />
<!---
                     .-=-==--==--.
                           ..-=="  ,'o`)      `.            --RAWWWWWRRRRRRRRRRR
                         ,'         `"'         \
                        :  (                     `.__...._
                        |                  )    /         `-=-.
                        :       ,vv.-._   /    /               `---==-._
                         \/\/\/VV ^ d88`;'    /                         `.
                             ``  ^/d88P!'    /             ,              `._
                                ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                               ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                              ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                              ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                               """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                      ,-='_.-'      ``:%::)  )%:|        /:._,"
                                     (/(/"           ," ,'_,'%%%:       (_,'
                                                    (  (//(`.___;        \
                                                     \     \    `         `
                                                      `.    `.   `.        :
                                                        \. . .\    : . . . :
                                                         \. . .:    `.. . .:
                                                          `..:.:\     \:...\
                                                           ;:.:.;      ::...:
                                                           ):%::       :::::;
                                                       __,::%:(        :::::
                                                    ,;:%%%%%%%:        ;:%::
                                                      ;,--""-.`\  ,=--':%:%:\
                                                     /"       "| /-".:%%%%%%%\
                                                                     ;,-"'`)%%)
                                        
                                        Thanks for inspecting my code, better go back to my website, before this Dinosaur eats you!

                                        - John Carter


</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

  <nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
     
  </div>
  

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
      <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">

  <div class="page-404">
    <h1>Thank you :]</h1>
    <br>
    <p>Your Message is on the way!.</p>
    <br>
    <div class="row">
              <div class="col-md-12 text-center">
                <div style="width: 100%; height: 100%">
                  <a href="index.html" class="btn btn-dark" target="about_blank">Home</a>
        </div>
    </div>
  </div> <!-- /.page-404 -->

</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
