<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Contact</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />
<!---
                     .-=-==--==--.
                           ..-=="  ,'o`)      `.            --RAWWWWWRRRRRRRRRRR
                         ,'         `"'         \
                        :  (                     `.__...._
                        |                  )    /         `-=-.
                        :       ,vv.-._   /    /               `---==-._
                         \/\/\/VV ^ d88`;'    /                         `.
                             ``  ^/d88P!'    /             ,              `._
                                ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                               ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                              ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                              ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                               """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                      ,-='_.-'      ``:%::)  )%:|        /:._,"
                                     (/(/"           ," ,'_,'%%%:       (_,'
                                                    (  (//(`.___;        \
                                                     \     \    `         `
                                                      `.    `.   `.        :
                                                        \. . .\    : . . . :
                                                         \. . .:    `.. . .:
                                                          `..:.:\     \:...\
                                                           ;:.:.;      ::...:
                                                           ):%::       :::::;
                                                       __,::%:(        :::::
                                                    ,;:%%%%%%%:        ;:%::
                                                      ;,--""-.`\  ,=--':%:%:\
                                                     /"       "| /-".:%%%%%%%\
                                                                     ;,-"'`)%%)
                                        
                                        Thanks for inspecting my code, better go back to my website, before this Dinosaur eats you!

                                        - John Carter


</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>
<nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="https://github.com/JohnCarter09"><i class="fa fa-github"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <h1>Fill out the form, coffee on me!</h1>
     
  </div>
  

   <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
     <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">

  <div class="contact contact-1">

    <div class="row">
      <div class="col-md-10 col-md-push-1">
        <img src="assets/images/donut.png" class="img-responsive" alt="" />
      </div> <!-- /.col-md-10 -->
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-6 col-md-push-1">
        <form id="project-contact-form" action="https://formcarry.com/s/H1RPNQ3oG" method="POST" accept-charset="UTF-8">
           <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" required data-error="Name missing">
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" required>
            <div class="help-block with-errors"></div>
          </div>

          <div class="form-group">
            <label>Message</label>
            <textarea id="message" class="form-control" rows="6" placeholder="Message" required></textarea>
            <div class="help-block with-errors"></div>
          </div>

          <div class="float-left">
            <button id="project-contact-form" type="submit" class="btn btn-default" href="confirm.html">Send</button>
          </div>
          <div id="msgSubmit" class="h3 hidden"></div>
        </form>
      </div> <!-- /.col-md-6 -->

      <div class="col-md-4 col-md-push-1">
        <div class="contact-info">
          <ul class="contact-info-list list-unstyled">
            <li><span>Email:</span><a href="mailto:303visuals@gmail.com"> 303visuals@gmail.com
            <li><span>Phone:</span> 602-697-3008</li>
            <li><span>Location:</span> Denver, CO<br/></li>
          </ul>
          <ul class="social social-dark list-unstyled list-inline">
            <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div> <!-- /.contact-info -->
      </div> <!-- /.col-md-4 -->
    </div> <!-- /.row -->
  </div> <!-- /.contact .contact-1 -->

   <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>Quote</h3>
        <p>“The last person I ever want working for me is someone who says ‘that’s not in my job description.’”
—Neil deGrasse Tyson</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><a href="mailto:303visuals@gmail.com">303visuals@gmail.com</a></li>
          <li>[602] 697-3008</li>
          <li>Denver, CO</li>
        </ul>
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6">
        <h3>Nav</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current'><a class='current' href="index.html">Home</a></li>
      <li><a href="about-2.html">About</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/thereal_johncarter/">Instagram</a></li>
          <li><a href="https://dribbble.com/John_Carter">Dribbble</a></li>
          <li><a href="https://medium.com/@johncarter_38755">UX Collective</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
  </footer>
<p class="copyright">&copy; 2019 <strong>|</strong><a href="https://www.linkedin.com/in/john-carter-a85702a3/" target="_blank"> MADE WITH &hearts; by JC :]</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
