<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Blog</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />

<!---
                     .-=-==--==--.
                           ..-=="  ,'o`)      `.            --RAWWWWWRRRRRRRRRRR
                         ,'         `"'         \
                        :  (                     `.__...._
                        |                  )    /         `-=-.
                        :       ,vv.-._   /    /               `---==-._
                         \/\/\/VV ^ d88`;'    /                         `.
                             ``  ^/d88P!'    /             ,              `._
                                ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                               ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                              ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                              ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                               """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                      ,-='_.-'      ``:%::)  )%:|        /:._,"
                                     (/(/"           ," ,'_,'%%%:       (_,'
                                                    (  (//(`.___;        \
                                                     \     \    `         `
                                                      `.    `.   `.        :
                                                        \. . .\    : . . . :
                                                         \. . .:    `.. . .:
                                                          `..:.:\     \:...\
                                                           ;:.:.;      ::...:
                                                           ):%::       :::::;
                                                       __,::%:(        :::::
                                                    ,;:%%%%%%%:        ;:%::
                                                      ;,--""-.`\  ,=--':%:%:\
                                                     /"       "| /-".:%%%%%%%\
                                                                     ;,-"'`)%%)
                                        
                                        Thanks for inspecting my code, better go back to my website, before this Dinosaur eats you!

                                        - John Carter


</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

  <nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="https://github.com/JohnCarter09"><i class="fa fa-github"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">

     
  </div>
  

   <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
     <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="explorations.html">Component Explorations</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">


  <div class="blog blog-2">
    <div class="row">

        <h1>Why is Exploration in design Important?</h1>
         <p><strong>In my opinion</strong> Exploration is a very critical part of the design process. It allows us designers to get our ideas out when we're thinking through problems [no matter how crazy these ideas can be sometimes]. We can then talk about and review our explorations together and see if there are any directions that we can go that will push us further to a solution. A mantra of this phase of the process should be; With every direction you go, you take one step closer to the solution.'</p>
         <br>
         
      
         <p class="post-meta">September | 2019</p>
          <h3><a href="assets/images/input.pdf" class="img-responsive" alt="" style="color:blue;">Ghost Inputs & Labels.</a>
          </h3>
          <br>
          <p><strong>The Problem:</strong> (Part A) The inputs we currently have in Radius are not very flexible when it comes to a handheld device like an iPad. The current labels were small and hard to read when we tested them with our clients. (Part B) We also discussed moving away from the label completely and just relying on the placeholder text to help create context for the given input. BUT...on focus states of the input, user could lose context of what the input related to. The goal of this exploration was to try and play around with the type size of the label and the place holder text. I added an animation to the input as well. The default state of the inputs would in fact NOT present a label, on focus the label appears at the top of the input field. See examples below. 

            <br>

          <div><p>I’m technically not part of the Radius team, but I decided to pick up this quick project and do some exploration on how this component would function in our products, what the sates would be and how it could adapt if there were multi selections needed. 
            </div>
          </p>
          <br>
        </div>

        <article>
          <a href="assets/images/input.pdf">
            <img src="assets/images/inputs.png" class="img-responsive" alt="" />
          </a>

          <article>
          <div><p>Its extremely important to view these components in a high-fidelity prototype to see how flexible they are/can be for the devices we're designing for. It also allows stakeholders see these inputs in context to where they will live in the products we design. I put these inputs to work in a real world setting for a password reset workflow. View the video below for a quick glimpse of these input concepts at work.</p>
            </div>

        </div>
        <br>
        <article>
          <a href="assets/images/ipad.mp4" >
            <video> <source src="assets/images/ipad.mp4" type="video/mp4"></video>
          </a>
        </article>
        <br>
        <div>

         <p class="post-meta">August | 2019</p>
          <h3><a href="assets/images/tag.pdf" class="img-responsive" alt="" style="color:blue;">Searchable inputs & Tag Spike.</a>
          </h3>
          <br>
          <p><strong>The Problem:</strong> At RMS we use a design system [Radius] when designing the interface of our products. Every week the Radius team huddles up with all the product leads to discuss the identified components needed for their respective products. During a recent meeting we found that there was not a searchable input within our design system, Radius. 
            <br>
          </p>
          <br>

        </div>

        <article>
          <a href="assets/images/tag.pdf">
            <img src="assets/images/tag.png" class="img-responsive" alt="" />
          </a>

          
         
   <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>Quote</h3>
        <p>“Whitespace is like air: it is necessary for design to breathe.” –Wojciech Zieliński</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><a href="mailto:303visuals@gmail.com">303visuals@gmail.com</a></li>
          <li>[602] 697-3008</li>
          <li>Denver, CO</li>
        </ul>
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6">
        <h3>Nav</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current-parent'><a class='current-parent' href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="blog-2.html">Process</a></li>
          <li><a href="explorations.html">Component Explorations</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/thereal_johncarter/">Instagram</a></li>
          <li><a href="https://dribbble.com/John_Carter">Dribbble</a></li>
          <li><a href="https://medium.com/@johncarter_38755">UX Collective</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
    <br>
  </footer>
  <p class="copyright">&copy; 2019 <strong>|</strong><a href="https://www.linkedin.com/in/john-carter-a85702a3/" target="_blank"> MADE WITH &hearts; by JC :]</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
