<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>MIU</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />

<!---
                     .-=-==--==--.
                           ..-=="  ,'o`)      `.            --RAWWWWWRRRRRRRRRRR
                         ,'         `"'         \
                        :  (                     `.__...._
                        |                  )    /         `-=-.
                        :       ,vv.-._   /    /               `---==-._
                         \/\/\/VV ^ d88`;'    /                         `.
                             ``  ^/d88P!'    /             ,              `._
                                ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                               ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                              ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                              ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                               """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                      ,-='_.-'      ``:%::)  )%:|        /:._,"
                                     (/(/"           ," ,'_,'%%%:       (_,'
                                                    (  (//(`.___;        \
                                                     \     \    `         `
                                                      `.    `.   `.        :
                                                        \. . .\    : . . . :
                                                         \. . .:    `.. . .:
                                                          `..:.:\     \:...\
                                                           ;:.:.;      ::...:
                                                           ):%::       :::::;
                                                       __,::%:(        :::::
                                                    ,;:%%%%%%%:        ;:%::
                                                      ;,--""-.`\  ,=--':%:%:\
                                                     /"       "| /-".:%%%%%%%\
                                                                     ;,-"'`)%%)
                                        
                                        Thanks for inspecting my code, better go back to my website, before this Dinosaur eats you!

                                        - John Carter


</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

<nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="https://github.com/JohnCarter09"><i class="fa fa-github"></i></a></li>


      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
     
  </div>
  

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
      <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact-2.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">

  <div class="single-work">
    <div class="description">
      <h1>What is MIU Insights?</h1>
      <p>MIU Insights is an RMS ILS [insurance linked security] software suite that enables modelers to view their portfolios risk. Allowing fund managers, brokers and sponsers to understand the impact of historical events and the correlation between their ILS fund investments. </p><br>
      <h2>The Problem</h2>
      <p> MIU Insights already had a dedicated team of product folks and developers but was lacking a dedicated design resource. Before I was named lead on this emerging RMS product, the design came from engineers and product. [Just to call this out, the MIU team did an incredible job putting this product together given their limited amount of resources and constraints]. Evreything was done ad hoc and design had been seen as an after thought. Colors, spacing, icons, ect. were not abiding by any principles. The team had used material design for the UI, but none of the material principles were applied during the prodcution phase, which created a ton of inconsistencies in the application.</p></br>
      <br>
      <h2>The Goals</h2>
      <p>
        <ul>
          <li>Audit the entire system.</li>
          <li>Align the applications look and feel with our brand identity.</li>
          <li>Create a more cohesive feel and experience for customers who use multipule RMS applications.</li>
          <li>Migrate existing [material] UI to our internal Design System UI.</li>
          <li>Identify similar patterns in the app to other existing RMS applications.</li>
          <li>Design new features using the RMS internal design system.</li>
        </ul>
      </p></br>
      <br><H2><strong>The Process</strong></H2> <p>To be honest, I didnt really know where to begin with such a missive system. I had to really go back to my design fundementals and create a holisitc, roadmap view of the application and all the micro services. I knew that I needed to understand the goals of the clients and their workflows in order to have any clear direction when it came to design. </p></br>
      <ul>
          <li>Create a holistic view of the existing application.</li>
          <li>Identify where major workflows exist in the app.</li>
          <li>Understnad the domain - Become an expert in the ILS space.</li>
          <li>Migrate existing UI to our internal Design System.</li>
        </ul>
    </div> <!-- /.description -->
          <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>

  </div> <!-- /.single-work -->
    <div class="single-work">
    <div class="description">
      <h2>Team Introductions & Information Architecture.</h2>
      <p>My first day as design lead was like drinking from the firehose. I was introduced to the application, the team, the users and how the team was operating on a scrum level. I had never met anyone on this team before so I wanted to start by gaining trust of everyone on the team.</p> <br><p>I knew that this would take time. The MIU team had been working together for the last 3 years, a very tight knit group. I definitely wanted to make sure I understood <strong>[and was being respetful of]</strong> their workflow, the domain and the clients before making any design suggestions. I wanted to make sure that I was able to get the team to believe in the value of design and how design was going to have a valuable impact not just on the prodcut, but on the overall business and the bottom line.</p><br>
       <div> 
        <img src="assets/images/ia.png" class="img-responsive" alt="" />
        <p>MIU Information Architecture</p>
      </div>
       <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>


      <h2>THE AUDIT.</h2>
      <p>After meeting the team and having some grasp of the domain and the workflows, it was time to create an audit. This audit was more specifc to the UI rather than deeper UX. Again, I was really unsure where to begin this massive audit, so I decided to start really really large, and work my way down to more granular workflows in the app. I decided to start with color theming and icons. There are three main reasons behind this approach...</p></br>
      <br>
      <ol>
          <li>Icons signified different events in different application. To create less confusion for overlap in users I wanted to make sure that icons all triggerd similar events across all RMS products.</li>
          <li>Color and Icons would be a relatively quick and easy implementation on the front-end.</li>
          <li>Starting at a high level with color can immediately align MIU with RMS as a brand.</li>
        </ol><br>
        <p>
          <strong>The presentation I gave on color and Icons can be found <a href="https://documentcloud.adobe.com/link/track?uri=urn%3Aaaid%3Ascds%3AUS%3A1a48e8df-341f-47e2-b1e6-3a3d4fb21628" style="color:blue" target="about_blank">here.</a></strong>
        </p>
      <div> 
        <img src="assets/images/gmail-sketch.png" class="img-responsive" alt="" />
        <p>GMAIL // BRAINSTORM</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
      <h2>User Flow</h2>
      <p>I wanted to make sure that as I started to really piece together the different states of this user-flow. What does it look like for a one time occurence? What does it look like for scheduling something once a year, once a week, every three hours, on the first of the month but only every other month? See what im getting at here? Lots of intricacies. One thing that really helped me with this design was to really put my self in the clients shoes. How can I design this in a simple, elegant way that will still allow our clients to take full advantage over their scheduling needs?</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/flow.png" class="img-responsive" alt="" />
        <p>LO-FI // SKETCHES</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
    <h2>Lo-fideity [sketches]</h2>
      <p>I love sketches for my lo-fidelity work. It allows me to quickly get my ideas out on paper [or iPad ] and really iterate and think through those critical brainstorming sessions. If I presnet these sketches to the stakeholders and they think they need a artifact of higher fidelity, I will quickly jump into Balsamiq to show the different states, or Sketch for pixel perfcet prototypes, depending on time, scope and MVP.</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/unnamed.png" class="img-responsive" alt="" />
        <p>FLOW // ANALYSIS</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
    <h2>Design Sprint & Feedback sessions</h2>
      <p>There is nothing more invigorating than getting together with other desingers who share a passion for problem solving. We hold weekly design reviews [that I set up for the team] and my project was first on the list for a presentation and feedback/ critique session. We were able to come together, do some internal testing and get some valuable feedback from stakeholders. The job scheduling design was taking shape, it was time to move it into high-fidelity. Feel free to use the links below to access and click through the prototype.</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/Image.from.iOS.(3).jpg" class="img-responsive" alt="" />
        <p>SPRINT // TESTING </p>
        <div class="container">
    <div class="row">
              <div class="col-md-12 text-center">
                <div style="width: 100%; height: 100%">
                  <a href="https://rms.invisionapp.com/share/S9RKTMTX5Q2" class="btn btn-dark" target="about_blank">Hi-Fidelity Scheduling Prototype</a>
            </div>
        </div>
    </div>
    <br>
      </div>
      

    </div> <!-- /.description -->

  <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>Quote</h3>
        <p>“When the only tool you own is a hammer, every problem begins to resemble a nail.”
— Abraham Maslow</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><a href="mailto:303visuals@gmail.com">303visuals@gmail.com</a></li>
          <li>[602] 697-3008</li>
          <li>Denver, CO</li>
        </ul>
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6">
        <h3>Nav</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current-parent'><a class='current-parent' href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about-2.html">About</a></li>
          <li><a href="blog-2.html">Process</a></li>
          <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/thereal_johncarter/">Instagram</a></li>
          <li><a href="https://dribbble.com/John_Carter">Dribbble</a></li>
          <li><a href="https://medium.com/@johncarter_38755">UX Collective</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
  </footer>
<p class="copyright">&copy; 2019 <strong>|</strong><a href="https://www.linkedin.com/in/john-carter-a85702a3/" target="_blank"> MADE WITH &hearts; by JC :]</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
