<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>RMS</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />

<!---
                     .-=-==--==--.
                           ..-=="  ,'o`)      `.            --RAWWWWWRRRRRRRRRRR
                         ,'         `"'         \
                        :  (                     `.__...._
                        |                  )    /         `-=-.
                        :       ,vv.-._   /    /               `---==-._
                         \/\/\/VV ^ d88`;'    /                         `.
                             ``  ^/d88P!'    /             ,              `._
                                ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                               ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                              ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                              ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                               """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                      ,-='_.-'      ``:%::)  )%:|        /:._,"
                                     (/(/"           ," ,'_,'%%%:       (_,'
                                                    (  (//(`.___;        \
                                                     \     \    `         `
                                                      `.    `.   `.        :
                                                        \. . .\    : . . . :
                                                         \. . .:    `.. . .:
                                                          `..:.:\     \:...\
                                                           ;:.:.;      ::...:
                                                           ):%::       :::::;
                                                       __,::%:(        :::::
                                                    ,;:%%%%%%%:        ;:%::
                                                      ;,--""-.`\  ,=--':%:%:\
                                                     /"       "| /-".:%%%%%%%\
                                                                     ;,-"'`)%%)
                                        
                                        Thanks for inspecting my code, better go back to my website, before this Dinosaur eats you!

                                        - John Carter


</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

<nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
     
  </div>
  

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
      <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Process</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact-2.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">

  <div class="single-work">
    <div class="description">
      <h1>What is DesignOps?</h1>
      <p> DesignOps creates a highly integrated and effective design ecosystem. DesignOps mission focuses on the health of the practice of product design, the people on the team, and the projects everone is working on. DesignOps is there to ensure that the design team becomes a well oiled machine, functioning at high efficiency, low friction, and generating high-quality design artifacts.</p><br>
      <h2>The Problem</h2>
      <p>Designers were not able to preform their very best work due to friction between PM, Engineering, and other teams. </p></br>
      <br>
      <h2>The Goal</h2>
      <p>Foster better collaboration and focus. Define quality standards for the team and the organization.</p></br>
      <ul>
        <li>Identified the critical gaps and weaknesses of an existing process.</li>
        <li>Building a process that optimizes designers’ day-to-day workflow and reduce duplicated efforts.</li>
        <li>Define clear metrics of success and ensured designers align with them. </li>
        <li>Unify design language across platforms. Unified language helps RMS designers to achieve consistency across all platforms.</li>
        <li>Enforce good meeting etiquette.</li>
        <li>Established a clear scheme of design delivery. Decide who needs to see the work, and when.</li>
      </ul>
      <br><H2><strong>The Process</strong></H2> <p>Define responsibilities first. Define team principles second. Lastly, Define clear, achievable, and measurable goals.  </p></br>
    </div> <!-- /.description -->
          <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>

  </div> <!-- /.single-work -->
    <div class="single-work">
    <div class="description">
      <h2>Chatting With the Team.</h2>
      <p>It can be as simple as talking with the team, scheduling break-out sessions and identifying their painpoints. After collecting some data from the team, its important to identify the reasons and impact I believe DesignOps will have on the team and the company. As as I start to create a process for our design team <strong>we have to really understand the business, the people involved, the context of their realities and how all those things come together</strong>. Knowing your team and your culture are huge to creating a better enviroment for your team to thrive in. See, with DesignOps you're still a designer you're just solving team problems at scale rather than JUST problems specfic to your domain.</p><br>
       <div> 
        <img src="assets/images/unnamed.jpg" class="img-responsive" alt="" />
        <p>DESIGNOPS // SUMMIT</p>
      </div>
       <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>


      <h2>Creating goals for the team and the business.</h2>
      <p>Taking half a day with the team and dicussing goals was critical to operationalizing a process on our team. The other half of the day is spent whiteboarding together on some of the current projects we're working on. This helps create trust and accountability. Not only are goals important, buts its importnat to think about how you are going to measure these goals against outcomes.</p></br>
      <br>
      <div> 
        <img src="assets/images/friends.jpg" class="img-responsive" alt="" />
        <p>GOAL SESSION // WHITEBOARD TOGETHER</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
      <h2>Measuring team goals against outcomes.</h2>
      <p>Its critical to success to identify actionable goals and how to measure those goals. Below is a chat that is shared out internally and each member of the team can create their own. It helps improve ownership and allows each member on the team to have their own individual goals. We meet weekly as a collective to discuss how we are working to achieve the goals that we identified here.</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/outcomes.jpg" class="img-responsive" alt="" />
        <p>VISUALIZE OUTCOMES // GOAL CHECK-INS</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
    <h2>How does all of this come together?</h2>
      <p>From an operational standpoint, the process looking something like this sketch below. By no means is it perfect, but its working so far! The most exciting thing is seeing something in my mind, creating a road map for getting there and then executing. Keeping outcomes in mind the entire time, relying on our goals and our accountabilty helps keep this process consistent. It continues to keep the product design team working like a well-oiled machine until we need some tweaking as we scale.</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/unnamed-1.png" class="img-responsive" alt="" />
        <p>OPERATIONAL // REPRESENTATION</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
    <h2>In conclusion...</h2>
      <p>Defining a process for your team will never be finished, you’re always tweaking it or shifting things around to see how/what works for your team. It never ends, it just continues to evolve. Try something like this on your team and see how it works. If you do try it, let me know how it goes. The overarching golal is always to produce the best products and designs for our clients. By having a well defined way of working, not only will you deliever exceptional software, but it will have a great affect on the overall morale of the team and your leadership.</p>
    </br>
    <br>
   
    <br>
      </div>
      

    </div> <!-- /.description -->

  <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>Quote</h3>
        <p>“Good design is honest.” –Dieter Rams</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><a href="mailto:303visuals@gmail.com">303visuals@gmail.com</a></li>
          <li>[602] 697-3008</li>
          <li>Denver, CO</li>
        </ul>
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6">
        <h3>Nav</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current-parent'><a class='current-parent' href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about-2.html">About</a></li>
          <li><a href="blog-2.html">Process</a></li>
          <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/thereal_johncarter/">Instagram</a></li>
          <li><a href="https://dribbble.com/John_Carter">Dribbble</a></li>
          <li><a href="https://medium.com/@johncarter_38755">UX Collective</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
  </footer>
<p class="copyright">&copy; 2019 <strong>|</strong><a href="https://www.linkedin.com/in/john-carter-a85702a3/" target="_blank"> MADE WITH &hearts; by JC :]</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
