<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>RMS</title>

  <!-- Favicon -->
  <link href="assets/favicon.ico" rel="shortcut icon" />
  <link href="assets/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script%7CPoppins:300,400,500,600" rel="stylesheet">
  <link href="assets/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

  <!-- CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Main CSS-->
  <link href="assets/css/style.css" rel="stylesheet" />

<!---
                     .-=-==--==--.
                           ..-=="  ,'o`)      `.            --RAWWWWWRRRRRRRRRRR
                         ,'         `"'         \
                        :  (                     `.__...._
                        |                  )    /         `-=-.
                        :       ,vv.-._   /    /               `---==-._
                         \/\/\/VV ^ d88`;'    /                         `.
                             ``  ^/d88P!'    /             ,              `._
                                ^/    !'   ,.      ,      /                  "-,,__,,--'""""-.
                               ^/    !'  ,'  \ . .(      (         _           )  ) ) ) ))_,-.\
                              ^(__ ,!',"'   ;:+.:%:a.     \:.. . ,'          )  )  ) ) ,"'    '
                              ',,,'','     /o:::":%:%a.    \:.:.:         .    )  ) _,'
                               """'       ;':::'' `+%%%a._  \%:%|         ;.). _,-""
                                      ,-='_.-'      ``:%::)  )%:|        /:._,"
                                     (/(/"           ," ,'_,'%%%:       (_,'
                                                    (  (//(`.___;        \
                                                     \     \    `         `
                                                      `.    `.   `.        :
                                                        \. . .\    : . . . :
                                                         \. . .:    `.. . .:
                                                          `..:.:\     \:...\
                                                           ;:.:.;      ::...:
                                                           ):%::       :::::;
                                                       __,::%:(        :::::
                                                    ,;:%%%%%%%:        ;:%::
                                                      ;,--""-.`\  ,=--':%:%:\
                                                     /"       "| /-".:%%%%%%%\
                                                                     ;,-"'`)%%)
                                        
                                        Thanks for inspecting my code, better go back to my website, before this Dinosaur eats you!

                                        - John Carter


</head>
<body>

  <!-- Preloader -->
  <div id="preloader"></div>

<nav class="navbar navbar-default">

  <div class="top-bar">
    <div class="container">
      <ul class="social list-inline list-unstyled">
        <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/thereal_johncarter/"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://dribbble.com/John_Carter"><i class="fa fa-dribbble"></i></a></li>
      </ul>
    </div> <!-- /.container -->
  </div> <!-- /.top-bar -->
 
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
     
  </div>
  

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class='current'><a class='current' href="index.html">Home</a></li>
      <li><a href="about-2.html">About</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="blog-2.html">Principles</a></li>
      <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact-2.html">Contact</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


  <div class="container">

  <div class="single-work">
    <div class="description">
      <h1>What is RMS?</h1>
      <p>The RMS mission is to create a more resilient and sustainable global society through a better understanding of catastrophic events. From earthquakes, hurricanes, and floods, to terrorism and infectious disease.</p><br>
      <h2>The Problem</h2>
      <p>Before this new feature was added to the platform, users were not able to schedule anything to happen in the future. As a user, it is critical to their workflow and quality of life to be able to kick off a job at a specific time on a recurring basis.</p></br>
      <br>
      <h2>The Goal</h2>
      <p>Speak to customers, gather some insight on how they use current scheduling tools today. Make true, data driven decisions to achieve a final, delightful design that will impact the end-users life in a great way. </p></br>
      <br><H2><strong>The Process</strong></H2> <p>Speak to real customers, conduct interviews, ask how they use current scheduling tools today. Really digging into their JTBD [Job To Be Done] which really helps me indentify areas to include in the design. Next, start a competitive analysis, comparing Gmail's recurrence patterns with those of Microsoft Outlook and other major platforms to identify recurring workflows and journeys users take when creating a recurrence. Start with sketches, move into lo-fi after meeting with PM's, and internal testing pools. Once validated by real users, we move in to hi-fi for this project. Below is what how this process occured. </p></br>
    </div> <!-- /.description -->
          <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>

  </div> <!-- /.single-work -->
    <div class="single-work">
    <div class="description">
      <h2>General Researh. Interviews.</h2>
      <p>I was fortunante enough to travel to London [where most of our clients are located] to conduct onsite user intierviews. I was trying to utalize some of the knowledge that was shared at a JTBD workshop that I recenelty attended. During the workshop one of the speakers discussing a way users make choices based on desires and constraints. During the interviews I was really trying to see how I could tie in this idea of constraints and desires to the features we were working on to see if they would even be valuable to the client. During the interviews I asked each individual a seirs of similar questions based on their role in the company. Looking for similarities in their answers I was able to make conclusions that what we were buling would greatly imporve not only the users workflow, but their overall quality of life. As a designer, thats a great feeling.</p><br>
       <div> 
        <img src="assets/images/constraint.jpg" class="img-responsive" alt="" />
        <p>RESEARCH // INTERVIEWS</p>
      </div>
       <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>


      <h2>Gmail Research.</h2>
      <p>After meeting with folks in London it was time to get to the drawing board. Thinking back to our flight from London back to Colorado I had popped open my ipad and begun researching different patterns that other services are using. I opened up Gmail and there it was, a great example of a recurrence pattern. Although its a good design, I was looking for the right workflow. Really trying to find comparisons with the problem I was trying to solve. Afterall, designing a recurrence pattern has many states the user can be in. In the Sketch below, there are many things to think about when considering a recurence pattern. This is how I like to brain storm. I like to write everything Im thinking down on my iPad.</p></br>
      <br>
      <div> 
        <img src="assets/images/gmail-sketch.png" class="img-responsive" alt="" />
        <p>GMAIL // BRAINSTORM</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
      <h2>User Flow</h2>
      <p>I wanted to make sure that as I started to really piece together the different states of this user-flow. There were a lot of workflows involved here. What does it look like for a one time occurence? What does it look like for scheduling something once a year, once a week, every three hours, on the first of the month but only every other month? See what im getting at here? Lots of intricacies. One thing that really helped me with this design is to really put my self in their shoes. How can I design this in a simple, elegant way that will still allow our clients to take full advantage over their scheduling needs?</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/flow.png" class="img-responsive" alt="" />
        <p>LO-FI // SKETCHES</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
    <h2>Lo-fideity [sketches]</h2>
      <p>I love sketches for my lo-fidelity work. It allows me to quickly get my ideas out on paper [or iPad ] and really iterate and think through those critical brainstorming sessions. If I presnet these sketches to the stakeholders and they think they need a artifact of higher fidelity, I will quickly jump into Balsamiq for lo-fi work, or Sketch for pixel perfcet prototypes, depending on time and scope of MVP.</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/unnamed.png" class="img-responsive" alt="" />
        <p>FLOW // ANALYSIS</p>
      </div>
      <div class="container">
            <div class="row">
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />
            </div>
        </div>
    <h2>Design Sprint & Feedback sessions</h2>
      <p>There is nothing more fun than getting together with other desingers who share a passion for problem solving. We have weekly design reviews with our team and my project was first on the list for a presentation and feedback/ critique session. We were able to come together, do some internal testing and get some valuable feedback from stakeholders. The job scheduling design was taking shape, it was time to move it into high-fidelity. Feel free to use the links below to access and click through the prototype.</p>
    </br>
    <br>
    <div> 
        <img src="assets/images/Image.from.iOS.(3).jpg" class="img-responsive" alt="" />
        <p>SPRINT // TESTING </p>
        <div class="container">
    <div class="row">
              <div class="col-md-12 text-center">
                <div style="width: 100%; height: 100%">
                  <a href="https://rms.invisionapp.com/share/S9RKTMTX5Q2" class="btn btn-dark" target="about_blank">Hi-Fidelity Scheduling Prototype</a>
            </div>
        </div>
    </div>
    <br>
      </div>
      

    </div> <!-- /.description -->

  <footer>
    <div class="row">

      <div class="col-md-3 col-sm-6">
        <h3>Quote</h3>
        <p>“When the only tool you own is a hammer, every problem begins to resemble a nail.”
— Abraham Maslow</p>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Contact</h3>
        <ul class="list-unstyled">
          <li><a href="mailto:303visuals@gmail.com">303visuals@gmail.com</a></li>
          <li>[602] 697-3008</li>
          <li>Denver, CO</li>
        </ul>
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3 col-sm-6">
        <h3>Nav</h3>
        <ul class="menu-footer list-unstyled">
          <li class='current-parent'><a class='current-parent' href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about-2.html">About</a></li>
          <li><a href="blog-2.html">Process</a></li>
          <li><a href="assets/images/cart-rez.pdf">Resume</a></li>
      <li><a href="contact.html">Contact</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6">
        <h3>Social</h3>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/john-carter-a85702a3/">LinkedIn</a></li>
          <li><a href="https://www.instagram.com/thereal_johncarter/">Instagram</a></li>
          <li><a href="https://dribbble.com/John_Carter">Dribbble</a></li>
          <li><a href="https://medium.com/@johncarter_38755">UX Collective</a></li>
        </ul>
      </div> <!-- /.col-md-3 -->

    </div> <!-- /.row -->
  </footer>
<p class="copyright">&copy; 2019 <strong>|</strong><a href="https://www.linkedin.com/in/john-carter-a85702a3/" target="_blank"> MADE WITH &hearts; by JC :]</a></p>
</div> <!-- /.container -->
<script src="assets/js/jquery-2.2.4.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/contact-form/js/validator.min.js"></script>
<script src="assets/contact-form/js/form-scripts.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>

“Usability is not a quality that can be spread out to cover a poor design like a layer of peanut butter.” — Clayton Lewis